name: Python app workflow

on:
  push:
    paths:
    - 'app_python/**'
    - '.github/workflows/app_python.yml'
  pull_request:
    paths:
    - 'app_python/**'
    - '.github/workflows/app_python.yml'

jobs:
  format:
    name: Run black formatter
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@stable

  lint:
    name: Run pylint
    defaults:
      run:
        working-directory: app_python
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Pylint
      run: pip install pylint

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Pylint
      run: pylint --rcfile=.pylintrc .

  test:
    defaults:
      run:
        working-directory: app_python
    name: Run pytest
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install httpx
          pip install -r requirements.txt

      - name: Test with pytest
        run: pytest .

  security-check:
    runs-on: ubuntu-latest
    defaults:
      working-directory: app_python
    needs: [lint, test]
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python-3.10@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
